[submodule "roles/alvistack.ansible"]
	path = roles/alvistack.ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/alvistack.bootstrap"]
	path = roles/alvistack.bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/alvistack.catatonit"]
	path = roles/alvistack.catatonit
	url = https://github.com/alvistack/ansible-role-catatonit.git
	branch = develop
[submodule "roles/alvistack.cvs"]
	path = roles/alvistack.cvs
	url = https://github.com/alvistack/ansible-role-cvs.git
	branch = develop
[submodule "roles/alvistack.git"]
	path = roles/alvistack.git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/alvistack.gosu"]
	path = roles/alvistack.gosu
	url = https://github.com/alvistack/ansible-role-gosu.git
	branch = develop
[submodule "roles/alvistack.httpd"]
	path = roles/alvistack.httpd
	url = https://github.com/alvistack/ansible-role-httpd.git
	branch = develop
[submodule "roles/alvistack.locales"]
	path = roles/alvistack.locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/alvistack.mariadb"]
	path = roles/alvistack.mariadb
	url = https://github.com/alvistack/ansible-role-mariadb.git
	branch = develop
[submodule "roles/alvistack.mercurial"]
	path = roles/alvistack.mercurial
	url = https://github.com/alvistack/ansible-role-mercurial.git
	branch = develop
[submodule "roles/alvistack.node"]
	path = roles/alvistack.node
	url = https://github.com/alvistack/ansible-role-node.git
	branch = develop
[submodule "roles/alvistack.openjdk"]
	path = roles/alvistack.openjdk
	url = https://github.com/alvistack/ansible-role-openjdk.git
	branch = develop
[submodule "roles/alvistack.perforce"]
	path = roles/alvistack.perforce
	url = https://github.com/alvistack/ansible-role-perforce.git
	branch = develop
[submodule "roles/alvistack.php"]
	path = roles/alvistack.php
	url = https://github.com/alvistack/ansible-role-php.git
	branch = develop
[submodule "roles/alvistack.postgres"]
	path = roles/alvistack.postgres
	url = https://github.com/alvistack/ansible-role-postgres.git
	branch = develop
[submodule "roles/alvistack.python"]
	path = roles/alvistack.python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/alvistack.rclone"]
	path = roles/alvistack.rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/alvistack.restic"]
	path = roles/alvistack.restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/alvistack.sqlite"]
	path = roles/alvistack.sqlite
	url = https://github.com/alvistack/ansible-role-sqlite.git
	branch = develop
[submodule "roles/alvistack.sshd"]
	path = roles/alvistack.sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/alvistack.svn"]
	path = roles/alvistack.svn
	url = https://github.com/alvistack/ansible-role-svn.git
	branch = develop
[submodule "roles/alvistack.timezone"]
	path = roles/alvistack.timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
[submodule "roles/alvistack.vim"]
	path = roles/alvistack.vim
	url = https://github.com/alvistack/ansible-role-vim.git
	branch = develop
